assets/pnd_models/adam_pro/**/*.STL filter=lfs diff=lfs merge=lfs -text
assets/pnd_models/adam_pro/**/*.dae filter=lfs diff=lfs merge=lfs -text
assets/pnd_models/adam_pro/**/*.obj filter=lfs diff=lfs merge=lfs -text
assets/pnd_models/adam_pro/**/*.stl filter=lfs diff=lfs merge=lfs -text
